<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="root">
    姓：<input type="text" v-model="firstName"><br>
    名：<input type="text" v-model="lastName"><br>
    测试：<input type="text" v-model="x"><br>
<!--    事件中的函数可以去掉()，但是插值必须带括号-->
    全名：<span>{{fullName()}}</span>

</div>

</body>
<script>
    var vm = new Vue({
        el: '#root',
        //data的对象式写法
        //只要data里面的数据发生变化，vue就会重新解析模板
        data: {
            firstName: '张',
            lastName: '三',
            x:"你好"
        },
        methods:{
            fullName(){
                console.log("fullName被调用了")
                return this.firstName + "-" + this.lastName
            }
        }
    })
</script>
</html>